
.fam{
    border: 4px double;
    color:purple;
    
}
.num{
    color:purple;
    border: solid 5px white;
    display: flex;
    flex-direction:column;
    width: 90px;
    height: auto;
    
    
}

.grid_container{
    display: grid;
    border: 2px solid purple;
}

.griditem{
      background-color: black;
      border: 2px solid purple;
}

.layout{
    float: left;
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
    
}

.items {
    flex-basis: 400px;
    border: solid white 5px;
}